*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
.fr{
	float: right;
 }
 .fl{
	float: left;
 }
.clear{
		clear: both;
}
body{
	background: RGBA(255, 255, 255, 1);
}
html.scrol-disabled, body.scrol-disabled {
	margin: 0; height: 100%; overflow: hidden;
}
.wrapper{
	padding-top: 70px;
	padding-bottom: 50px;
	position: relative;
	min-height: 100%;
}
header{	
	background: rgba(255,255,255,0.95);
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
header .header-content{
	padding: 15px 0;	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c8c8c+0,000000+100&amp;0.65+0,0+10 */
	background: -moz-linear-gradient(top,  rgba(140,140,140,0.65) 0%, rgba(126,126,126,0) 10%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(140,140,140,0.65) 0%,rgba(126,126,126,0) 10%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(140,140,140,0.65) 0%,rgba(126,126,126,0) 10%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68c8c8c', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */	
}

.container{
	padding: 20px;
	padding-top: 50px;
	max-width: 960px;
	margin: auto;
}
.logo{}
.logo h1{
	background: url(../images/logo.png) no-repeat center;
}
.header-menu ul li{
	list-style: none;
	display: inline-block;
}
.header-menu ul li a{
	display: block;
	background: white;
	border: 1px solid gold;
}