/*=================== HEADER & FOOTER =======================*/

header h1{
	font-family: 'Slabo 27px', serif;
	text-align: center;
	font-size: 34px;
	line-height: 40px;
	letter-spacing: 0.1em;
	color: #444444;
}
.container h2{
	text-align: center;
}
.container.main{
	padding-top: 30px;
	min-height: 68%;
}
footer{
	color: #fff;
}
footer address,
footer .socmed{
	padding: 10px;
}
footer address span{
	display: block;
}
footer address a{
	display: block;
	color: #fff;
}
footer .copy{
	padding: 5px 0;
	background-color: rgba(94, 94, 94, 1);
	text-align: center;
}
footer .socmed ul{
	list-style: none;
}
footer .socmed ul li{
	display: inline-block;
	margin-left: 0;
	margin-right: 15px;
}
footer .socmed ul li a{
	display: block;
}
footer .socmed ul li a span{
	display: block;
	width: 30px;
	height: 30px;
	background: url("../images/socmed.jpg") no-repeat -8px -9px;
}
footer .socmed ul li a span.twitter{
	background-position: -46px -9px;	
}
footer .socmed ul li a span.insta{
	background-position: -236px -9px;
}
.footer-block{
	float: left;
	width: 50%;
}

/*=================== FRONT PAGE =======================*/

.page-block{
	background: rgba(255,255,255,0.8);
	margin-bottom: 40px;
}
.page-block h3{
	text-align: left;
	font: normal normal bold 48px/1.4em raleway,sans-serif;
    color: #445F64;
}
.page-block .content{
	width: 50%;
	float: left;	
	height: 250px;
}
.page-block .content.wording{
	background: rgba(137, 192, 201, 1);
	padding: 20px;	
}
.page-block .content.picture img{
	display: block;
	width: 100%;
	height: 100%;
}
.image-example{
	display: inline-block;
	min-width: 50%;
}

.image-example ul{
	list-style: none;
}
.image-example ul li{
	background: #dedede;
	margin: 0;
	display: block;
	float: left;
	width: 20%;
	height: 180px;
}
.image-example ul li img{
	vertical-align: middle;
	display: block;
	width: 100%;
	height: 100%;
}
.header-content{
	text-align: center;
}
.header-content ul{
	list-style: none;
	
}
.header-content li{
	display: inline-block;
	margin: 0 20px;
}
.header-content li a{
	display: block;
	padding: 10px 10px 8px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	color: #9C9C9C;
    transition: color 0.4s ease 0s;
}
.header-content li a.active,
.header-content li a:hover{
	border-bottom: 2px solid rgba(102, 143, 150, 1);
	color: #668F96;
}
