/*=================== HEADER & FOOTER =======================*/

.header-content{
	text-align: center;
	position: relative;
}
.header-content.mobmode{
	padding: 5px 0;
	border-bottom: 1px solid #ededed;
}
.header-content ul{
	list-style: none;
}
.header-content li{
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.header-content li a{
	display: block;
	padding: 5px 5px 3px;
	font-family: 'myfont', sans-serif;
	font-size: 15px;
	line-height: 20px;
	border-bottom: 2px solid transparent;
	color: #888785;
    transition: color 0.4s ease 0s;
}
.header-content .user-links{
	position: absolute;
	top: 25px;
	right: 10px;
}
.user-links ul li{
	margin: 0 12px;
}
.user-links ul li a img{
	display: block;
	opacity: 0.5;
}
.user-links ul li a{
	display: block;
	position: relative;
}
.user-links .cart span.count{
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
	right: 0;
	font-size: 9px;
	line-height: 12px;
	font-family: arial;
	color: #FFFFFF;
	background: #575757;
	border-radius:50%;
	
}
.user-links ul li a:hover img{
	opacity: 0.7;
}
.user-links.mobmode{
	top: 7px;
}
.header-content li a.active,
.header-content li a:hover{
	border-bottom: 2px solid #FFCA00;
}
.desktop ul li.hasub a:hover{
	border-bottom: 2px solid #FFFFFF;
}
.desktop ul li.hasub:hover ul.submenu{
	display: block;
}
.desktop ul.submenu,
.mobile ul.submenu{
	display: none;
}
.desktop ul.submenu{	
	position: absolute;
	background: #fff;
	top: 30px;
	left: -50px;
	border: 1px solid #FFCA00;
	width: 150px;
}
.desktop ul.submenu li{
	display: block;
	margin: 0;
	padding: 0 10px;
}
.desktop ul.submenu li:hover{
	background: #FFCA00;
}
.desktop ul.submenu li:hover a{
	color: #fff;
	border-bottom: 2px solid #FFCA00;
}
.mobile ul.submenu li{
	border-bottom: 0;
	border-top: 1px solid #fff;
}
.mobile ul li.hasub{
	position: relative;
	background: #000 url("../images/icon-plus.png") no-repeat right+10px top+10px;
}
.mobile ul li.hasub:after{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	right: 10px;
	content: "";
}
.mobile ul li.hasub.opened{
	background-image: url("../images/icon-min.png");	
}
.logo,
.mobile-logo{	
	display: block;
}
.logo h1,
.mobile-logo h1{
	text-indent: -9999px;
	background: url("../images/logo.png") no-repeat center;
	line-height: 50px;
}
.logo.hidden{
	display: none;
}
.mobile-header{
	width: 100%;
	position: relative;	
	padding: 0;	
	display: none;
}
.mobile-logo h1{
	width: 200px;
}
.mobile-menu-icon{
	position: absolute;
	top: 15px;
	left: 10px;
}
.mobile-menu-icon a{
	display: block;
	background: url("../images/blacknavbutton.png") no-repeat center;
		width: 30px;
	height: 20px;
}
.mobile-logo a{
	display: inline-block;
}
nav.mobile{
	background: #000;
	display: none;
	margin-bottom: -20px;
    margin-top: 10px;
}
nav.mobile.open{
	display: block;
}
nav.mobile ul li{
	display: block;
	border-bottom: 1px solid #FFF;
	margin: 0;
}
nav.mobile ul li a{
	border: 0;
	padding: 10px;
	color: #fff;
}
nav.mobile ul li a:hover,
nav.mobile ul li a:active{
	border: 0;
}
footer{	
	border: 1px solid #ededed;
	padding-top: 10px;
}
footer .footer-container{
	margin: auto;
	max-width: 960px;
	padding: 10px 20px;
}
footer .copy{
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}
footer .socmed{
	margin-bottom: 10px;
	text-align: center;	
}
footer .socmed ul{
	list-style: none;
}
footer .socmed ul li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
footer .socmed ul li a{
	display: block;
}
footer .socmed ul li a span{
	display: block;
	width: 25px;
	height: 25px;
	background: url("../images/facebook.png") no-repeat center;
}
footer .socmed ul li a span.twitter{
	background: url("../images/twitter.png") no-repeat center;
}
footer .socmed ul li a span.insta{
	background: url("../images/instagram.png") no-repeat center;
}
.footer-links{
	text-align: center;
	margin-bottom: 20px;
}

.footer-links nav ul{
	display: inline-block;
	margin: 40px 40px 0;
	vertical-align: top;
}
.footer-links nav ul li{
	margin: 0;
	text-align: left;
}
.footer-links nav ul li h6{
	margin-bottom: 10px;
	font-weight: normal;
}
.footer-links nav ul li a{
	font-size: 12px;
	line-height: 20px;
	display: block;
	color: inherit;
	margin-bottom: 5px;
}
.scrol-top{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 15%;
	right: 30px;
	display: none;
}
.scrol-top.shown{
	display: block;
}
.scrol-top a{
	display: block;
	height: 100%;
	width: 100%;
    background: url("../images/back-to-top.png") no-repeat center;
	opacity: .25;
}
.scrol-top a:hover{
	opacity: .75;
}
.image img{
	display: block;
	margin: auto;
}

/*===================== FRONT PAGE =======================*/

.container h2{
	text-align: center;
}
.container.main{
	/*min-height: 68%;*/
	padding: 20px;
}
.banner-block{
	position: relative;
	margin-bottom: 20px;
}
.word-block{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 50%;
}
.word-block.right{
	left: auto;
	right: 5%;
	text-align: right;
}
.word-block.bottom{
	top: auto;	
	bottom: 10%;
}
.word-block h3{
	font-size: 38px;
	line-height: 50px;
	color: #FFCA00;
}
.word-block .button{
	margin-top: 30px;
	padding: 10px 20px;
}
.pic-block{
	height: auto;
}
.pic-block a{
	display: block;
}
.pic-block img{
	display: block;
	width: 100%;
	margin: auto;
}
.mainslide{
	height: 370px;	
}
.mainslide.slick-slider{
	margin-bottom: 80px;
}
.slider{
	height: 450px;
}
.slider h2{
	margin-bottom: 20px;
	text-align: left;
	color: #A2CC01;
    letter-spacing: 0.1em;
    font-family: 'myfont2', sans-serif;
	font-size: 20px;
}
.slider .product-block{
	margin: auto;	
	padding: 0 15px;
	height: 375px;
}
.slider .product-block .product-pic img{
	border: 1px solid #ededed;
	
}
.slider .product-block .product-name h3,
.slider .product-block .product-price{
	text-align: center;
}
.new-arrival{
	margin-bottom: 40px;
}
.seo{
	margin-bottom: 30px;
}
.seo .editor{
	padding-left: 10px;
	padding-right: 0;
}
.seo .editor:first-child{
	padding-left: 0;
	padding-right: 10px;
}
.seo .editor h5{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}
.seo .editor article p{
	font-size: 11px;
	line-height: 20px;
}
/*=================== CATALOG PAGE =======================*/

.front-content h1{
	margin-bottom: 30px;
	color: #A2CC01;
    font-weight: normal;
    letter-spacing: 0.1em;
	font-family: 'myfont2', sans-serif;
}
.pagination{
	text-align: center;
	margin-bottom: 30px;
}
.pagination nav ul{ 
	list-style-type: none;
}
.pagination nav ul li{ 
	display: inline-table;
	margin: 0;
}
.pagination nav ul li a,
.pagination nav ul li b{ 
	display: block;
	padding: 5px 10px;	
	background: #A2CC01;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}
.pagination nav ul li b.active{ 
	opacity: 0.8;
}
.pagination nav ul li a:hover{
	opacity: 0.8;
}
.form-tools{
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.filter-box{
	float: left;
	width: 30%;
	padding-right: 0;
}
.filter-box select{
	border: 1px solid #A2CC01;
}
.filter-box.search{
	position: relative;
	float: right;
	
}
.filter-box.search input[type="text"]{
	padding-right: 50px;
	border: 1px solid #A2CC01;
}
.filter-box.search input[type="submit"]{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	padding: 0;
	background: #A2CC01 url("../../admin/images/zoom-icon.png") no-repeat 3px center;
	border: 1px solid #A2CC01;
}
.product-container{
	margin-bottom: 30px;
}
.product-block,
.gallery-block{
	width: 22.75%;
	float: left;
	margin-right: 3%;
	margin-left: 0;
	margin-bottom: 50px;
	position: relative;
}
.product-block .product-discount{
	position: absolute;
	left: 10px;
	top: 0;
}
.product-block .product-discount:after{
	content : "";
	position: absolute;
	top: 40px;
	left: 0;
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;	
	border-top: 10px solid #f00;
}
.product-block .product-discount span{
	display: inline-block;
	width: 36px;
	padding: 5px 2px;
	text-align: center;
	color: #fff;
	background: red;
	font-size: 12px;
    line-height: 15px;
    font-family: arial;
    font-weight: bold;
}
.product-block:nth-child(4n),
.gallery-block:nth-child(4n){
	margin-right: 0;
}
.product-pic{
	height: 286px;
	margin-bottom: 10px;
}
.gallery-pic{	
	margin-bottom: 20px;
	background: rgba(232, 232, 232, 0.2);
}
.gallery-pic .pic-content{
	display: table-cell;
    vertical-align: middle;	
	height: 200px;
}
.gallery-pic a{
	display: block;
}
.product-pic a,
.gallery-pic a{
	display: block;
}
.product-pic img,
.gallery-pic img{
	display: block;
	width: 100%;
	max-height: 100%;
}
.product-name h3{
	font-family: 'myfont', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #575757;
	font-weight: normal;
	height: 48px;
}
.product-block .product-name a {
    border-bottom: 1px solid #A2CC01;
    display: block;
}
.product-price{
	color: #B3ADA9;
	font-size: 13px;
	line-height: 24px;
}
.product-price span{
	display: inline-block;
	color: #888785;
	font-family: myfont;
}
.product-price span.before{
	margin-right: 12px;
	text-decoration: line-through;	
    opacity: 0.5;
}
.sold-out {
    position: absolute;
    z-index: 3;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(200,200,200,0.4);   
}
.sold-out span{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
	width: 100%;
	position: absolute;
	bottom: 25%;
	letter-spacing: 0.3em;
}  

/*=================== PRODUCT DETAIL PAGE =======================*/

.breadcrumb,
.ck-breadcrumb{
	margin-bottom: 30px;
}
.breadcrumb ul li,
.ck-breadcrumb ul li{
	margin: 0;
	margin-right: 10px;
	display: inline-block;
}
.breadcrumb ul li a, b,
.ck-breadcrumb ul li a, b{
	font-size: 14px;
	line-height: 20px;
	color: #A2CC01;
	font-weight: normal;
}
.breadcrumb ul li a:after,
.ck-breadcrumb ul li a:after{
	content: ">";
	margin-left: 10px;
	color: #A2CC01;
}
.breadcrumb ul li a:hover,
.ck-breadcrumb ul li a:hover{
	color: inherit;
}
.breadcrumb ul li b,
.ck-breadcrumb ul li b{
	color: inherit;
}
.pdp .col2{
	float: left;
	width: 50%;
}
.picture-box .picture{
	height: 600px;
    max-width: 96%;
	border: 1px solid #ededed;
	margin-bottom: 10px;
	position: relative;
}
.picture-box .picture img{
	width: 100%;
	height: 100%;
	display: block;
}
.detail-box {
	margin-bottom: 30px;
}
.detail-box > div {
	margin-bottom: 20px;
}
.detail-box .product-name h2{
	text-align: left;
	font-size: 26px;
	line-height: 34px;
	font-weight: normal;
}
.detail-box h6{
	color: #888785;
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 10px;
}
.detail-box .product-small-block{
	border-top : 1px solid #ededed;
	margin-bottom: 10px;
	padding: 20px 0;
	font-size: 14px;
	line-height: 24px;
}
.detail-box .product-small-block:last-child{
	border-bottom : 1px solid #ededed;
}
.detail-box .product-small-block span.color,
.detail-box .product-small-block span.size{
	display: inline-block;
	padding: 0 5px;
	margin-right: 5px;
	margin-left: 0;
	background: #000;
	color: #ededed;
	font-size: 12px;
	border: 1px solid #ededed;
}
.detail-box .product-price{	
	margin-bottom: 30px;
}
.detail-box .product-price span{	
	display: inline-block;
	margin-right: 10px;
	margin-left: 0;
    font-size: 20px;
    line-height: 24px;
	font-weight: normal;
}
.detail-box .product-price span.before{	
	color: #999;
	font-size: 16px;
	
	text-decoration: line-through; 
	margin-right: 15px;
}
.product-images {
	margin-bottom: 20px;
}
.product-images ul li{
	display: inline-block;
	vertical-align: top;
	margin-left: 0;
	margin-right: 20px;
	border: 1px solid #ededed;
}
.product-images ul li a{
	display: block;
	width: 92.5px;
	height: 92px;
	padding: 0 15px;
}
.product-images ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}
.zoom {
    position: absolute;
    right: 20px;
    top: 20px;
}
.zoom a {
    display: block;
	height: 30px;
	width: 30px;
	background: url(../../admin/images/zoom-icon.png) no-repeat center;
}
.zoom-layer{
	width: 100%;
    height: 100%;
	max-height: 100%;
    position: absolute;
    top: 0;
    z-index: 7;
    left: 0;
	display: none;
	background: rgba(255,255,255,0.8);
}
.zoom-layer img{
	margin: auto;
	width: auto;
	max-width: 100%;
    max-height: 100%;
    display: block;
}
.close-button{
	background: url(../images/close-button-black.png) no-repeat center;
	height: 50px;
	width: 50px;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	z-index: 8;
}
.form-container label.error{
	display: none;
	font-style: italic;
	color: red;
}

/*=================== 404 ==================*/

.notfound{
	text-align: center;
}
.notfound .editor{
	text-align: center;
	margin-bottom: 40px;
}

/*=================== GALLERY DETAIL PAGE =======================*/

.gallery-detail h2{
	color: #A2CC01;
	font-weight: normal;
	font-size: 24px;
	line-height: 35px;
	margin-bottom: 20px;
}
.gallery-content,
.gallery-image{
	max-width: 700px;
	margin: auto;
	margin-bottom: 30px;
}
.gallery-image img{
	display: block;
	width: 100%;
}

/*====================== PAGES =======================*/

.page-block{
	margin-bottom: 40px;
}
.page-block h3{
	margin-bottom: 10px;
	font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.page-block address span{
	display: block;
	font-size: 12px;
	line-height: 20px;
}
.open-hours{
	margin-bottom: 20px;
}
.open-hours h6{
	font-weight: normal;
}
.open-hours p{
	color: #999;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0;
}
.page-detail .left{
	margin-right: 30%;
	margin-left: 0;
	padding-right: 20px;
	padding-left: 0;
}
.page-detail .right{
	float: right;
	width: 30%;
}
.about-img img{
	display: block;
	width: 100%;
}

/*====================== FORMS =======================*/

.mini-content{
	width: 540px;
	margin: auto;
}
.form-container{
	margin-bottom: 30px;
}
.form-container ul li{
	margin: 0 0 30px;
}
.form-container ul li.info p{
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
}
.form-container ul  li label{
	display: block;
}
.form-container ul  li label.error{
	display: none;
	color: red;
}
.form-container ul li.bdate select {
    display: inline-block;
    margin-right: 2%;
    width: auto;
}
.form-container a:not(.button){
	font-size: inherit;
	color: inherit;
}
.form-container a:not(.button){
	color: #A2CC01;
}
.form-container em{
    color: red;
	font-style: normal;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container textarea {
	background: #FCFFF6;
}
.form-container select{
	background: #FCFFF6;
}
.message {
    display: none;
    background: green;
    padding: 10px 20px;
	margin-bottom: 20px;
}
.message.valid{
	display: block;
}
.message.error {
    display: block;
    background: red;
}
.message p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
	margin-bottom: 0;
}

/*====================== MY ACCOUNT =======================*/

.account-links{
	margin-bottom: 30px;
}
.account-links ul li{
	margin: 0;
    width: 25%;
    text-align: CENTER;
    border: 1px solid #ffffff;
	border-left: 0;
	float: left;
}
.account-links ul li:first-child{
	border-left: 1px solid #ffffff;
}
.account-links ul li a{ 
	display: block;
    font-size: 15px;
    line-height: 20px;
	padding: 10px 0;
	background: #E6F9E1;
	color: #ffffff;
}
.account-links ul li a:hover{
	color: #6EBB86;
}
.myaccount .address-col,
.myaccount .order-col{
	margin-bottom: 20px;
}
.myaccount .twocols {
	border-bottom: 1px solid #E6F9E1;
}
.myaccount .twocols > div:not(.clear){
	position: relative;
	padding-bottom: 20px;
	padding-left: 20px;
}
.myaccount .twocols .acc-info{
	border-right: 1px solid #E6F9E1;
	padding-right: 20px;
	padding-left: 0;
}
.myaccount .edit_address{
	position: absolute;
	top: 0;
	right: 20px;
}
.myaccount .acc-address .edit_address{
	right: 0;
}
.address-col h6{
	font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
}
.address-col p{
	font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
}
.acc-info h5,
.order-col h5,
.acc-address h5{
	margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #A2CC01;
    font-weight: normal;
}
.acc-info ul li{
	margin: 0;
}
.acc-info ul li span{
	font-size: 12px;
    line-height: 25px;
    display: inline-block;
	
}
.acc-info ul li span{
	margin-right: 20px;
    width: 150px;
    position: relative;
    padding-right: 20px;
}
/*================== SHOPPING CART =================*/

.cart-table table tr td img{
	display: block;
    float: left;
    margin-right: 10px;
}
.cart-table{
	margin-bottom: 10px;
}
.cart-table table tr td p,
.cart-table table tr td h6{
	font-size: 13px;
    line-height: 20px;
	font-weight: normal;
	margin: 0;
}
.shoppingcart .editqty{
	position: relative;
}
.shoppingcart .editqty .button-edit{
	position: absolute;
	right: -18px;
	top: 19px;
}
.cart-total {
    margin-bottom: 50px;
}
.cart-total p {
    margin-bottom: 10px;
}
.cart-total p span {
    float: left;
    width: 25%;
    text-align: right;
    padding: 0 10px;
    display: block;
}
.cart-total p span:first-child {
    width: 75%;
}
.cart-checkout{
	text-align: center;
}

/*==================== CHECKOUT ====================*/

.checkout  input[type="radio"],
.checkout .listing .info,
.checkout .listing address{
	display: inline-block;
	vertical-align: top;
}
.checkout  input[type="radio"]{
	margin-top: 5px;
}
.checkout .listing address,
.checkout .listing .info{
	margin-left: 10px;
}
.checkout .list-payment{
	padding-bottom: 10px;
	border-bottom: 1px solid #ededed;
}
.checkout .address-detail h6,
.checkout .detail-order-info h5{
	margin-bottom: 10px;
}
.checkout .button-collection{
	margin-top: 30px;
}
.checkout .button-collection .left{
	float: left;
}
.checkout .button-collection .right{
	float: right;	
}
.checkout-payment .detail-order-info{
	margin-top: 10px;
}
.checkout-success .image{
	margin-bottom: 20px;
}
.checkout-success .editor{
	text-align: center;
	margin-bottom: 30px;
}

/*================= DETAIL ORDER =================*/

.order-info p .ptitle{
	display: inline-block;
	width: 120px;
}
.order-notice{
	border: 1px solid #A2CC01;
	background: #F3FFEB;
	padding: 20px;
	margin-bottom: 10px;
}
.order-notice p{
	margin-bottom: 0;
	font-size: 11px;
	line-height: 20px;
	color: red;
}
.confirmation{
	margin-bottom: 30px;
	text-align: center;
}
.confirmation p,
.confirmation a{
	font-size: 14px;
	line-height: 20px;
}
.confirmation a{
	color: #A2CC01;
} 

.order-detail .order-col{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #A2CC01;
}
.order-detail .order-col h6{
	margin-bottom: 10px;
}
.order-detail .detail-order-info h5{
	margin-bottom: 20px;
}