/*=================== HEADER & FOOTER =======================*/
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	
}
footer .footer-container{
	margin: auto;
	max-width: 960px;
	padding: 10px 20px;
}
footer .copy{
	font-size: 14px;
	line-height: 25px;
}
footer .copy,
footer .socmed{
	width: 50%;
	float: left;
}
footer .socmed{
	text-align: right;	
}
footer .socmed ul{
	list-style: none;
}
footer .socmed ul li{
	display: inline-block;
	margin-left: 0;
	margin-right: 10px;
	vertical-align: middle;
}
footer .socmed ul li a{
	display: block;
}
footer .socmed ul li a span{
	display: block;
	width: 25px;
	height: 25px;
	background: url("../images/facebook.png") no-repeat center
}
footer .socmed ul li a span.twitter{
	background: url("../images/twitter.png") no-repeat center
}
footer .socmed ul li a span.insta{
	background: url("../images/instagram.png") no-repeat center
}
.footer-block{
	float: left;
	width: 50%;
}

.header-content{
	text-align: center;
}
.header-content ul{
	list-style: none;
	
}
.header-content li{
	display: inline-block;
	margin: 0 20px;
}
.header-content li a{
	display: block;
	padding: 10px 10px 8px;
	font-family: 'myfont', sans-serif;
	font-size: 16px;
	line-height: 20px;
	border-bottom: 2px solid transparent;
	color: #888785;
    transition: color 0.4s ease 0s;
}
.header-content li a.active,
.header-content li a:hover{
	border-bottom: 2px solid #FFCA00;
	color: #FFCA00;
}

/*===================== FRONT PAGE =======================*/

.container h2{
	text-align: center;
}
.container.main{
	/*min-height: 68%;*/
	padding: 40px;
}
.banner-block{
	position: relative;
	margin-bottom: 20px;
}
.pic-block{
	height: 700px;
}
.word-block{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 50%;
}
.word-block h3{
	font-size: 38px;
	line-height: 50px;
	color: #FFCA00;
}
.word-block .button{
	margin-top: 30px;
	padding: 10px 20px;
}
.pic-block img{
	display: block;
	width: auto;
	height: 100%;
	margin: auto;
}

/*=================== CATALOG PAGE =======================*/

.front-content h1{
	margin-bottom: 40px;
	color: #A2CC01;
    font-weight: normal;
    letter-spacing: 0.1em;
	font-family: 'myfont2', sans-serif;
}
.pagination{
	text-align: center;
	margin-bottom: 30px;
}
.pagination nav ul{ 
	list-style-type: none;
}
.pagination nav ul li{ 
	display: inline-table;
	margin: 0;
}
.pagination nav ul li a,
.pagination nav ul li b{ 
	display: block;
	padding: 5px 10px;	
	background: #A2CC01;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}
.pagination nav ul li b.active{ 
	opacity: 0.8;
}
.pagination nav ul li a:hover{
	opacity: 0.8;
}
.form-tools{
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.filter-box{
	float: left;
	width: 30%;
	padding-right: 20px;
}
.filter-box select{
	border: 1px solid #A2CC01;
}
.filter-box.search{
	position: relative;
	float: right;
}
.filter-box.search input[type="text"]{
	padding-right: 50px;
	border: 1px solid #A2CC01;
}
.filter-box.search input[type="submit"]{
	position: absolute;
	right: 20px;
	top: 0;
	width: 40px;
	height: 40px;
	padding: 0;
	background: #A2CC01 url("../../admin/images/zoom-icon.png") no-repeat 3px center;
	border: 1px solid #A2CC01;
}
.product-container{
	margin-bottom: 30px;
}
.product-block{
	width: 22.75%;
	float: left;
	margin-right: 3%;
	margin-left: 0;
	margin-bottom: 50px;
	position: relative;
}
.product-block .product-discount{
	position: absolute;
	left: 0;
	top: 0;
}
.product-block .product-discount span{
	display: inline-block;
	width: auto;
	padding: 5px 10px;
	text-align: center;
	color: #fff;
	background: red;
	font-size: 16px;	
}
.product-block:nth-child(4n){
	margin-right: 0;
}
.product-pic{
	height: 275px;
	margin-bottom: 20px;
}
.product-pic img{
	display: block;
	width: 100%;
	height: 100%;
}
.product-name h3{
	font-family: font-family: 'myfont', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #575757;
	font-weight: normal;
}
.product-price{
	color: #B3ADA9;
	font-size: 13px;
	line-height: 24px;

}

/*=================== PRODUCT DETAIL PAGE =======================*/

.pdp .col2{
	float: left;
	width: 50%;
}
.picture-box .picture{
	height: 600px;
    max-width: 96%;
	border: 1px solid #ededed;
	margin-bottom: 10px;
	position: relative;
}
.picture-box .picture img{
	width: 100%;
	height: 100%;
	display: block;
}
.detail-box {
	margin-bottom: 30px;
}
.detail-box > div {
	margin-bottom: 20px;
}
.detail-box .product-name h2{
	text-align: left;
	font-size: 26px;
	line-height: 34px;
	font-weight: normal;
}
.detail-box h6{
	color: #888785;
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 10px;
}
.detail-box .product-small-block{
	border-top : 1px solid #ededed;
	margin-bottom: 10px;
	padding: 20px 0;
	font-size: 14px;
	line-height: 24px;
}
.detail-box .product-small-block:last-child{
	border-bottom : 1px solid #ededed;
}
.detail-box .product-small-block span.color,
.detail-box .product-small-block span.size{
	display: inline-block;
	padding: 0 5px;
	margin-right: 5px;
	margin-left: 0;
	background: #000;
	color: #ededed;
	font-size: 12px;
	border: 1px solid #ededed;
}
.detail-box .product-price{	
	margin-bottom: 50px;
}
.detail-box .product-price span{	
	display: inline-block;
	margin-right: 10px;
	margin-left: 0;
	color: #888785;
    font-size: 20px;
    line-height: 24px;
}
.detail-box .product-price span.before{	
	color: #999;
	font-size: 18px;
	text-decoration: line-through; 
}
.product-images ul li{
	display: inline-block;
	vertical-align: top;
	margin-left: 0;
	margin-right: 20px;
}
.product-images ul li a{
	display: block;
	width: 80px;
	height: 100px;
}
.product-images ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}
.zoom {
    position: absolute;
    right: 20px;
    top: 20px;
}
.zoom a {
    display: block;
	height: 30px;
	width: 30px;
	background: url(../../admin/images/zoom-icon.png) no-repeat center;
}
.zoom-layer{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 7;
    left: 0;
	display: none;
	background: rgba(255,255,255,0.8);
}
.zoom-layer img{
	width: auto;
	max-width: 100%;
    height: 100%;
    display: block;
}
.close-button{
	background: url(../images/close-button-black.png) no-repeat center;
	height: 50px;
	width: 50px;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	z-index: 8;
}

/*=================== 404 ==================*/

.notfound{
	text-align: center;
}
.notfound .editor{
	text-align: center;
	margin-bottom: 40px;
}

/*=================== GALLERY DETAIL PAGE =======================*/

.gallery-detail h2{
	color: #A2CC01;
	font-weight: normal;
	font-size: 24px;
	line-height: 35px;
	margin-bottom: 20px;
}
.gallery-content,
.gallery-image{
	max-width: 700px;
	margin: auto;
	margin-bottom: 30px;
}
.gallery-image img{
	display: block;
	width: 100%;
}

/*====================== PAGES =======================*/

.page-block{
	margin-bottom: 40px;
}
.page-block h3{
	margin-bottom: 10px;
	font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.open-hours{
	margin-bottom: 20px;
}
.open-hours h6{
	font-weight: normal;
}
.open-hours p{
	color: #999;
}
.page-detail .left{
	margin-right: 30%;
	margin-left: 0;
	padding-right: 20px;
	padding-left: 0;
}
.page-detail .right{
	float: right;
	width: 30%;
}
.about-img img{
	display: block;
	width: 100%;
}