.mainslide {
    height: 120px;
}
.slider h2 {
    font-size: 15px;
}
.slider .product-block .product-pic {
    height: 250px;
}
.product-pic img, .gallery-pic img {
    width: auto;
	margin: auto;
    height: 250px;
	max-width: 100%;
}
.product-images ul li a {
    width: 55px;
    height: 50px;
}

.picture-box .picture {
    height: 320px;
}