/*===  LAYOUT ===*/

.twocols > div:not(.clear){
	float: none;
	width: 100%;
}

/*===  HOMEPAGE ===*/

.mainslide {
    height: 200px;
}
.mainslide.slick-slider {
    margin-bottom: 70px;
}
.slider .product-block .product-pic {
    height: 300px;
}
.footer-links{
	display: none;
}


/*===  PAGES ===*/

.page-detail .right {
    display: none;
}
.page-detail .left{
	float: none;
	width: 100%;
	margin-right: 0;
}

/*=== PRODUCT PAGE ===*/

.filter-box {
	width: 45%;
}
.product-block, .gallery-block {
    width: 48%;
	margin-right: 4%;
}
.product-block:nth-child(3n), .gallery-block:nth-child(3n) {
    margin-right: 4%;
}
.product-block:nth-child(2n), .gallery-block:nth-child(2n) {
    margin-right: 0;
}
.product-pic {
    height: 317px;
}

/*=== PRODUCT DETAIL PAGE ===*/

.zoom-layer img {
	height: auto;
}

/*=== SCREEN 480 ===*/
@media only screen and (max-width: 480px) {
	.mainslide {
		height: 175px;
	}
	.slider .product-block .product-pic {
		height: 260px;
	}
}

/*=== SCREEN 375 FOR IPHONE6 and IPHONE6plus ===*/

@media only screen and (max-width: 414px) {
	.mainslide {
		height: 150px;
	}
	.slider .product-block .product-pic {
		height: 215px;
		margin-bottom: 10px;
	}
	
}

@media only screen and (max-width: 375px) {
	.mainslide {
		height: 134px;
	}
	.slider h2 {
		font-size: 15px;
	}
    .slider .product-block .product-pic {
		height: 180px;
	}
	.product-block, .gallery-block {
		margin-bottom: 30px;
	}
	.product-name h3 {
		font-size: 12px;
    }
	.product-pic {
		height: 220px;
	}
	
}
