header h1{
	font-family: 'Slabo 27px', serif;
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 0.1em;
	color: #000;
}
.container.main{
}
footer{
	color: #fff;
}
footer .copy{
	padding: 5px 0;
	text-align: center;
}
.menu li:hover ul.sub-menu {
    display:block;
}
.menu b.instruction{
	display: block;
	line-height: 40px;
	color: #ffffff;
	font-size: 14px;
}
.box{
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid #ededed;
	max-width: 560px;
}
.black-box{
	border: 1px solid #000;
}
.white-box{
	border: 0;
}
.white-box h3{
	padding-bottom: 10px;
	border-bottom: 2px solid #000;
}
.black-box h3{
	background: #000;
	color: #fff;
	padding: 10px 20px;
}
.form-container{
	padding: 20px;
}
.form-container ul {
	list-style: none;
}
.form-container ul  li{
	margin: 0;
	margin-bottom: 15px;
}
.form-container ul  li:last-child{
	margin-bottom: 0;
}
.form-container ul  li span{
	color: #000;
	font-size: 12px;
}
.form-container ul  li label{
	display: block;
}
.form-container ul  li label.error{
	display: none;
	color: red;
}

/*================= JQUERY VALIDATION ===========*/

input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
textarea.error {
	border-color: green;
}

/*================== LOGIN ======================*/

.login{
	margin: 40px 0 80px;
}
.login-box{
	max-width: 480px;
}
.message{
	display: none;
	background: green;
	padding: 10px 20px;
}
.message.valid{
	display: block;
}
.message.error{
	display: block;	
	background: red;
}
.message p{
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

/*================== ADD ======================*/

.adduser{
	margin: 20px 0 30px;
}
.addproduct-box{
	min-width: 640px;
}
.file-wrapper{
	border: 1px solid #777;
	width: 100px;
	height: 100px;
	
	margin-right: 20px;
}
.file-wrapper input[type="file"]{
	display: none;
}
.file-wrapper img{
	height:100%;
	width: auto;
	max-width: 100%;
	background: #ffffff;	
}
.form-container ul li label.file-wrapper{
	display: inline-block;
	background: url("../images/icon-camera.png") no-repeat center;
}
.tabproduct-box{
	margin-top: 10px ;
	margin-bottom: 30px;
	min-width: 660px;
}
.tabproduct-box ul{
	border-bottom: 5px solid #999999;	
}
.tabproduct-box ul li{
	display: inline-block;
	margin: 0;	
}
.tabproduct-box ul li a{
	display: block;
	padding: 10px 20px;	
	color: #999999;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	font-family: Serif;
	border-right: 1px solid #ededed;
}
.tabproduct-box ul li a:hover,
.tabproduct-box ul li a.active{
	border-bottom: 5px solid #FFB020;
	color: #44494d;
	margin-bottom: -5px;
}
.addvariant-box .form-container{
	margin-bottom: 30px;
}
.addvariant-box .data-table h3{
	margin-bottom: 20px;
}
/*=================== LIST ======================*/

.list{
	margin: 20px 0 50px;
}
.list h3{
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #000;
}
.form-tools{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999999;
}
.filter-box{
	float: left;
	width: 30%;
	padding-right: 20px;
}
.filter-box.add-new{
	padding: 0;
	float: right;
	width: 20%;
	text-align: right;
}
.filter-box.search{
	position: relative;
}
.filter-box.search input[type="text"]{
	padding-right: 50px;
}
.filter-box.search input[type="submit"]{
	position: absolute;
	right: 20px;
	top: 0;
	width: 40px;
	height: 40px;
	padding: 0;
	background: #000000 url("../images/zoom-icon.png") no-repeat 3px center;
}
.add-button{
	padding-left: 40px;
	padding-right: 20px;
	background: #000000 url("../images/icon-plus.png") no-repeat 10px center;
	font-size: 12px;
}
.data-table{
	margin-bottom: 10px;
}
.data-show{
	margin-bottom: 15px;	
	text-align: center;
}
.data-show p{
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	font-style: italic;
}
.pagination{
	text-align: center;
}
.pagination nav ul{ 
	list-style-type: none;
}
.pagination nav ul li{ 
	display: inline-table;
	margin: 0;
}
.pagination nav ul li a,
.pagination nav ul li b{ 
	display: block;
	padding: 5px 10px;	
	background: #000000;
	color: #fff;
}
.pagination nav ul li b{ 
	font-weight: normal;
	font-size: 12px;
}
.pagination nav ul li b.active{ 
	opacity: 0.8;
}
.pagination nav ul li a:hover{
	opacity: 0.8;
}
a.link-opt{
	display: inline-block;
}
/*================== ADD PRODUCT ======================*/
.addproduct .box{
	max-width: 640px;
}
.addproduct .button-next,
.addproduct .button-new{
	margin-left: 30px;
}
.addpicture-box .form-container .instruction{
	display: block;
	margin-bottom: 20px;
}
.addpicture-box .form-container ul li{
	margin-bottom: 30px;
}
/*================== LOGIN ======================*/

/*================== LOGIN ======================*/