header h1{
	font-family: 'Slabo 27px', serif;
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 0.1em;
	color: #000;
}
.container.main{}
footer{
	color: #fff;
}
footer .copy{
	padding: 5px 0;
	text-align: center;
}
.menu li:hover ul.sub-menu {
    display:block;
}
.menu b.instruction{
	display: block;
	line-height: 40px;
	color: #ffffff;
	font-size: 14px;
}
.box{
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid #ededed;
	max-width: 560px;
}
.black-box{
	border: 1px solid #000;
}
.white-box{
	border: 0;
}
.white-box h3{
	padding-bottom: 10px;
	border-bottom: 2px solid #000;
}
.black-box h3{
	background: #000;
	color: #fff;
	padding: 10px 20px;
}
.form-container{
	padding: 20px;
}
.form-container ul {
	list-style: none;
}
.form-container ul  li{
	margin: 0;
	margin-bottom: 15px;
}
.form-container ul  li.bdate select{
	display: inline-block;
	margin-right: 2%;
	width: auto;
}
.form-container ul  li:last-child{
	margin-bottom: 0;
}
.form-container ul  li span{
	color: #000;
	font-size: 12px;
}
.form-container ul  li label{
	display: block;
}
.form-container ul  li label.error{
	display: none;
	color: red;
}
.twocols > div:not(.clear){
    float: left;
    width: 50%;
}
.tricols > div:not(.clear){
	float: left;
	width: 31%;
	margin-right: 2.33%;
}
/*================= JQUERY VALIDATION ===========*/

input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
textarea.error {
	border-color: green;
}

/*================== LOGIN ======================*/

.login{
	margin: 40px 0 80px;
}
.login-box{
	max-width: 480px;
}
.message{
	display: none;
	background: green;
	padding: 10px 20px;
}
.message.valid{
	display: block;
}
.message.error{
	display: block;	
	background: red;
}
.message p{
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

/*================== ADD ======================*/

.adduser{
	margin: 20px 0 30px;
}
.addproduct-box{
	min-width: 640px;
}
.file-wrapper{
	border: 1px solid #777;
	width: 100px;
	height: 100px;
	margin-right: 20px;
}
.file-wrapper input[type="file"]{
	display: none;
}
.file-wrapper img{
	height:100%;
	width: auto;
	max-width: 100%;
	background: #ffffff;	
}
.form-container ul li label.file-wrapper{
	display: inline-block;
	background: url("../images/icon-camera.png") no-repeat center;
}
.tabproduct-box{
	margin-top: 10px ;
	margin-bottom: 30px;
	min-width: 660px;
}
.tabproduct-box ul{
	border-bottom: 5px solid #999999;	
}
.tabproduct-box ul li{
	display: inline-block;
	margin: 0;	
}
.tabproduct-box ul li a{
	display: block;
	padding: 10px 20px;	
	color: #999999;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	font-family: Serif;
	border-right: 1px solid #ededed;
}
.tabproduct-box ul li a:hover,
.tabproduct-box ul li a.active{
	border-bottom: 5px solid #FFB020;
	color: #44494d;
	margin-bottom: -5px;
}
.addvariant-box .form-container{
	margin-bottom: 30px;
}
.addvariant-box .data-table h3{
	margin-bottom: 20px;
}

/*=================== LIST ======================*/

.list{
	margin: 20px 0 50px;
}
.list h3,
.detail h3{
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #000;
}
.form-tools{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999999;
}
.filter-box{
	float: left;
	width: 30%;
	padding-right: 20px;
}
.filter-box.add-new{
	padding: 0;
	float: right;
	width: 20%;
	text-align: right;
}
.filter-box.search{
	position: relative;
}
.filter-box.search input[type="text"]{
	padding-right: 50px;
}
.filter-box.search input[type="submit"]{
	position: absolute;
	right: 20px;
	top: 0;
	width: 40px;
	height: 40px;
	padding: 0;
	background: #000000 url("../images/zoom-icon.png") no-repeat 3px center;
}
.data-table{
	margin-bottom: 10px;
}
.data-table tr td a,
.data-table tr td a:visited{
	color: #44494d;
}
.data-table tr td.link-detail a{
	display: block;
	color: #000;
	font-weight: bold;
	opacity: 0.5;
}
.data-table tr td.link-detail a:hover{
	opacity: 1;
}
.data-show{
	margin-bottom: 15px;	
	text-align: center;
}
.data-show p{
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	font-style: italic;
}
.show-discard{
	text-align: right;
}
.show-discard a{
	display: block;
	color: #999;
}
.show-discard a:hover{
	color: #000;
}
.pagination{
	text-align: center;
	margin-bottom: 30px;
}
.pagination nav ul{ 
	list-style-type: none;
}
.pagination nav ul li{ 
	display: inline-table;
	margin: 0;
}
.pagination nav ul li a,
.pagination nav ul li b{ 
	display: block;
	padding: 5px 10px;	
	background: #000000;
	color: #fff;
}
.pagination nav ul li b{ 
	font-weight: normal;
	font-size: 12px;
}
.pagination nav ul li b.active{ 
	opacity: 0.8;
}
.pagination nav ul li a:hover{
	opacity: 0.8;
}
a.link-opt{
	display: inline-block;
}
.image-preview{
	width: auto;
	height: 100px;
}
.prod-dc{
	color: #999999;
	padding: 4px;
	font-size: 10px;
	line-height: 10px;
	margin-left: 5px;
	width: 28px;
	text-align: center;
	display: inline-block;
}
.prod-dc.on{
	background: none;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
}

/*================== ADD PRODUCT ======================*/

.addproduct .box{
	max-width: 640px;
}
.addproduct .button-next,
.addproduct .button-new{
	margin-left: 30px;
}
.addpicture-box .form-container .instruction{
	display: block;
	margin-bottom: 20px;
}
.addpicture-box .form-container ul li{
	margin-bottom: 30px;
}

/*==================== ADD GALLERY ====================*/

.addgallery .file-wrapper{
	width: 150px;
	height: 150px;
}

/*===================== HOMEPAGE =======================*/

.homepage{
	margin-top: 30px;
}
.announce-block{
	max-width: 480px;
	margin: auto;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}
.announce-block .date{
	text-align: right;
	margin-bottom: 10px;
	color: #00BD3C;
}
.announce-block h3{
	margin-bottom: 15px;
}
.announce-block .editor{
	margin-bottom: 10px;
}

/*==================== CUSTOMER DETAIL ====================*/

.detail-block{
	position: relative;
	padding: 0 30px;
	margin: auto;
	margin-bottom: 30px;
}
.detail-block .button-promote,
.detail-block .button-edit{
	position: absolute;
	right: 20px;
}
.detail-block .button-edit{
	top: 0;
}
.detail-block .button-promote{
	bottom: 0;
}
.detail-block h4{
	line-height: 40px;
	font-weight: normal;
}
.detail-block ul li{
	margin: 0;
}
.detail-block ul li span{
	font-size: 12px;
	line-height: 25px;
	display: inline-block;
}
.detail-block ul li span.entitle{
	margin-right: 20px;
	width: 150px;
	position: relative;
	padding-right: 20px;
}
.detail-block ul li span.entitle:after{
	content: ":";
	position: absolute;
	right: 0;
}
.customer-address{
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}
.customer-address h3{
	margin-bottom: 30px;
}
.address-block{
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 30%;
	border: 1px solid #ededed;
	padding: 40px 20px 60px;
	margin: 0 1.5% 20px;
	min-height: 220px;
}
.address-block:hover .small-button{
	display: block;
}
.address-block .small-button{
	position: absolute;
	bottom: 0;
	display: none;
}
.address-block.add-new{
	padding: 90px 0;
}
.address-block .edit-button{
	left: 0px;
}
.address-block .del-button{
	right: 0px;
}
.address-block h5{
	margin-bottom: 10px;
}
.address-block address span{
	display: block;
	font-size: 12px;
	line-height: 20px;
}
.address-block address span.phone{
	margin-top: 5px;
}
.default-address{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	background: #000000;
}
.default-address p{
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
}

/*==================== DETAIL ORDER ====================*/

.field-info > span{
	display: inline-block;
	width: 150px;
}
.detailorder .form-container {
    padding-left: 155px;
    padding-top: 10px;
}
.detailorder .form-container .statusorder{
	width: 250px;
}
.detailorder h6{
	font-weight: normal;
}
.detailorder .changestatus{
	display: block;
}
.detailorder address,
.detailorder .methods p{
	padding: 10px 20px;
}
.detailorder address span,
.detailorder .methods p{
	display: block;
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
}
.detailorder .order-col{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #c5c5c5;
}
.detailorder .product-data img{
	display: block;
    float: left;
    margin-right: 10px;
}
.detailorder .product-data h6{
	margin-bottom: 5px;
}
.detailorder .product-data h6,
.detailorder .product-data p{
	font-size: 12px;
	line-height: 20px;
}
.detailorder .total{
	margin-bottom: 30px;
}
.detailorder .total p{
	margin-bottom: 10px;
}	
.detailorder .total p span{
	float: left;
	width: 25%;
	text-align: right;
	padding: 0 10px;
	display: block;
}
.detailorder .total p span:first-child{
	width: 75%;
}
.detail-order-info{
	margin-bottom: 50px;
}
.detail-order-info h5{
	margin-bottom: 20px;
}

/*==================== NEW ORDER ====================*/

